* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}
.nav-navigation{
  position: fixed;
  z-index: 10;
  width: 100%;
}
.nav-style {
  padding: 20px 0;
  background: transparent;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

@media(max-width:40em) {
  .nav-style {
    background: black;
    padding: 0;
  }
}

#nav ul {
  line-height: 40px;
  display: flex;
  justify-content: flex-end;
}

#nav ul li {
  width: 100px;
  margin-right: 30px;
}

#nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
/*  */
#nav ul li a:hover {
  color: yellow;
}

@media screen and (max-width: 40em) {
  #nav ul li {
    margin-left: 20px;
  }
  #nav ul {
    display: block;
  }
}

.nav-collapse-style {
  padding: 0;
  background: rgb(0, 0, 0);
}
.nav-toggle {
  position: fixed;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 35px;
  float: right;
  background: rgb(0, 0, 0);
  border-radius: 0 0 50px 50px;
}
.nav-toggle:before {
  color: white;
  font-size: 28px;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 30px;
  top: 0;
  width: 100%;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content: "x";
}